{% extends 'base.html' %}

{% block content %}

<h1 class="cover-heading">{{ title }}</h1>
<p class="lead">Shorten that URL</p>
<p class="lead">
    <div class="col-sm-8 col-sm-offset-2">
        <form method="POST" action=".">
            {% csrf_token %}
            <!--<input name="url" type="text" placeholder="Url to be shortened">-->
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Shorten &raquo;">
        </form>
    </div>
</p>

{% endblock content %}
